<!-- <h1>게시판</h1> -->
<div class="jumbotron jumbotron-fluid">
  <div class="col-4">
    <div class="container">
      <h1 class="display-3">게시판</h1><br>
      <p class="lead">게시글을 작성하세요~~!!</p><br>
      <a class="btn btn-primary" href="/posts/new" role="button">새글 쓰기</a>
    </div>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">제 목</th>
    <th scope="col">글쓴이</th>
    <th scope="col">작성일</th>
  </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <th scope="row"><%=post.id%></a></th>
      <td><a href="/posts/show/<%=post.id%>"><%= post.title%></td>
      <td><%= post.user.email%></td>
      <td><%= time_ago_in_words(post.created_at)%></td>
    </tr>
    <%end%>
  </tbody>
</table>
